/* @font-face {
    font-family: "Roboto";  задаем произвольное имя для шрифта, которое будет использоваться в свойстве font-family при указании стилей для конкретных элементов 
    src: url("/fonts/Roboto-Regular.ttf") format("truetype");  /* задаем путь относительно корня сайта к шрифту (url) и тип шрифта (format). Тип шрифта выступает подсказкой для браузера (в идеале ускоряет процесс обработки) 
    font-style: normal;   указываем, что стиль шрифта обычный - это значение по умолчанию 
    font-weight: normal;   определяет нормальное начертание символов - это значение по умолчанию 
    } 
    */ 

    /* abeezee-regular - latin */
@font-face {
    font-family: "Gilory-ExtraBold";
    src: local("Gilory-ExtraBold"), local("Gilory-Light"), local("Gilory");
  }


body {
    margin: 0;
    padding: 0;
    font-family: "Grilory ExtraBold" Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000000;
}

ul {
    list-style: none;
}
.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation ul {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    color: #000000;
}

.main-navigation {
    background-color: #f7e296;
    background-image: url("./img/header_yellow.png");
    font-family: OpenSans;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2px;
    letter-spacing: 0.15px;
    color: #000000;
}

.slogan{
    font-family: Gilroy;
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: 0.47px;
    color: #000000; 
}

.detailed {
    font-family: Gilroy;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 3.6px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

/* add rest navigation menu class */
.main-navigation a:hover,
.main-navigation a:focus {
    color: #635a3c;
}

.main-navigation a:active {
    color: #ac9e69;
}

.main-navigation input[type="search"]{
    background-color: #f7e296;
    border-style: none;
}

.main-navigation input[type="search"]:hover::placeholder {
    color:#635a3c;
    border-style: none;
}

.main-navigation input[type="search"]:focus,
.main-navigation input[type="search"]:active {
    color:#000000;
    outline: none;
    border-bottom: #000000 solid 2px;

}

.main-navigation, button {
  /* Необходимо ли менять ширину и высоту кнопки? */
}

.main-navigation button:focus,
.main-navigation button:hover {
    background-color:#000000;
    color: #ffffff; 
    border-color:#000000;
}


.main-navigation button:active {
    background-color:#000000;
    color: #4d4d4d;
    border-color: #000000;
    outline: none;
    /* как сделать нижнюю линию границы поля поиска в одну линию с кнопкой ? */
}

.main-navigation button {
    background-color:#f7e296;
    color: #000000;
    border-color: #000000;
}


.main-navigation li {
    list-style: none;
    display:inline;
}

.company_info h2 {
    font-size: 47px;
    line-height: 48px;
}

.company_info p {
    font-family: "Open Sans Light", sans-serif; 
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    font-weight: 100;
}

.company_info li {
    font-family: "Gilory ExtraBold", sans-serif; 
    font-size: 10px;
    line-height: 30px;
    color: #464646;
    font-weight: 100;
}

.company_info a{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 800;
}

.company_info li {
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 800;
    line-height: 2.5;
    color:#e6e6e6;
    list-style: circle;
}



.contact_info h2 {
    font-size: 47px;
    line-height: 48px;
}

.contact_info p {
    font-family: "Open Sans Light", sans-serif; 
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    font-weight: 100;
}

.contact_info a{
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 800;
}

footer {
    background-color: #464646;


}

footer p {
    font-family: "Open Sans Light", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 100;
    color: #ffffff;

}

.service a {
    font-family: "Gilory ExtraBold", sans-serif; 
    font-size: 28px;
    line-height: 24px;
    font-weight: 100;
    color: #ffffff;
}

.footer_menu a {
    font-family: "Open Sans Light", sans-serif;
    font-size: 15px;
    color: #c8c8c8;
    font-weight: 100;
}

.footer_menu a:hover {
    color: #ffffff;
}

.footer_menu a:active {
    color: #7e7e7e;
}

.catalog_navigation li,
.catalog_navigation a {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0.14px;
    color: #bcbcbc;
}

 .monopod {
    font-family: Gilroy ExtraBold;
    font-size: 47px;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.47px;
    color: #000000;
}

.color_select label {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 40px;
    letter-spacing: 0.14px;
    color: #000000;
}



